html {
    font-size: 10px;
    font-family: 'Open Sans'
  }

  h1 {
    font-size: 40px;
    text-align: center;
      margin: 0;
      padding: 20px 0;
      color: #D3D3D3;
      text-shadow: 3px 3px 1px black;
     }

     h2 {
    font-size: 30px;
    text-align: center;
    color:#D3D3D3;
    text-shadow: 2px 2px 5px black;
     }
     h3 {
    font-size: 23px;
     }

  p {
    font-size: 22px;
    text-align: center;
    color:black
  }
  
   li {
     font-size: 22px;
     line-height: 2;
     letter-spacing: 1px;
      }

html {
    background-color: #D3D3D3;
     }

 body {
  width: 600px;
  margin: 0 auto;
  background-color: #507472;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
      }

  h1 {
  margin: 0;
  padding: 20px 0;
  color: #D3D3D3;
  text-shadow: 3px 3px 1px black;
     }

  img {
  display: block;
  margin: 0 auto;
      }